block variables
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="icon" href="assets/icon/PROFILE.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        title #{title}
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet" href="/css/fontawesome-all.min.css")
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/noscript.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js")
   
    body(class="is-preload")
        div#root
            block layout-content

    footer
        script
            include ../assets/js/source/breakpoints.min.js
        script
            include ../assets/js/source/browser.min.js
        script
            include ../assets/js/source/jquery.min.js
        script
            include ../assets/js/source/main.js
        script
            include ../assets/js/source/util.js
        script
            include ../assets/js/sidenav.js
        script
            include ../assets/js/apiCalls.js
        script
            include ../assets/js/skycons.js
        
        script(src="https://kit.fontawesome.com/9459603363.js" crossorigin="anonymous")
        