/* public/style.css */

body {
    background: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10001;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#weatherCondImg{
  width: 150px;
  height: 150px;
}

#tempVal{
  font-size: 50px;
}

#InsQuote{
  font-size: 30px;
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation: landscape) {

  .styleName {
      height: 60em
  }
  
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

  #image_right {
      max-width: 100%;
  }
  
  #icon1{
    width: 150px !important;
    height: 150px !important;
  }

  #tempVal {
    font-size: 35px;
  }

  #InsQuote{
    font-size: 20px;
  }
  

}

